
body{
    background-image: url(../img/img\ de\ fundo.jpg);
    background-repeat: round;

    
}

header{
    width:100%;
    background-color: rgb(65, 65, 69);
}

.logo{
    text-align: center;
    color: beige#fff;
    font-size: 1.6em; 
    width: 100%;
    

}

nav{

    text-align: center;
    color: #a19898;
    font-size: 1.5em;
    padding-bottom: 1%;
}

.banner{
    width: 100%;
    height: 100%;
}

.container{
    background-color: rgb(97, 90, 90);
    width: 80%;
    margin: auto;
}


footer{
    background-color: rgb(251, 255, 255);
    width: 20%;
    


}

ul {

    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 1.5;
    font-size: 1.1em;
}

.container {

    background-color: rgb(56, 55, 55);
    width: 80%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 1.5;

}