
body{
    background-color: #9c140a9e;
}

header{
    width:100%;
    background-color: rgb(65, 65, 69);
}

.logo{
    text-align: center;
    color: beige#fff;
    font-size: 1.5em;


}

nav{

    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

.banner{
    width: 100%;
    height: 100%;
}

.container{
    background-color: rgb(97, 90, 90);
    width: 80%;
    margin: auto;
}

footer{
    background-color: rgb(251, 255, 255);
    width: 20%;

}